<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.school.SchoolInfoMapper">

    <select id="queryList" resultType="modelBeanMap">
        select * from school_info
        <where>
            <if test="keyWord != null and keyWord != ''">
                <bind name="searchName" value="'%' + keyWord + '%'"/>
                and (name like #{searchName} or principal_name like #{searchName} or simplicity like #{searchName}
                or mobile like #{searchName}
                )
            </if>

            <if test="gradeType != null and gradeType != ''">
                and school_type = #{gradeType}
            </if>
        </where>
        order by id desc
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="map">
        insert into school_info
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update school_info
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <delete id="deleteById" parameterType="map">

    </delete>
</mapper>