<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.system.SystemMenuMapper">

    <select id="treeList" resultType="modelBeanMap">
        select a.name as label, a.id as value, a.url, a.type, a.parent_id, a.permissions, a.icon, b.name as parent_name from system_menu a left join (select id, name from system_menu) b
        on a.parent_id = b.id order by sort desc
    </select>

    <select id="queryList" resultType="modelBeanMap">
       select a.*, b.name as parent_name from system_menu a left join (select id, name from system_menu) b
       on a.parent_id = b.id order by sort desc
    </select>

    <select id="findById" parameterType="Integer">
        select * from system_menu where id = #{id}
    </select>

    <!-- 获取用户一级菜单 -->
    <select id="findMenuByUser" resultType="modelBeanMap">
        select * from system_menu where parent_id = '0' and type = 1
        <if test="adminId != null and adminId != ''">
            and id in
            (
            select menu_id from system_role_menu where role_id in (
            select role_id from system_admin_role where admin_id = #{adminId}
            )
            )
        </if>
        order by sort desc
    </select>

    <sql id="column">
      select a.name as label, a.id as value, a.url, a.type, a.parent_id, a.permissions, a.icon, b.name as parent_name from system_menu a left join (select id, name from system_menu) b
       on a.parent_id = b.id where a.parent_id = #{parentId}
    </sql>

    <select id="findByParentIdAndRoleId" resultType="modelBeanMap">
        <include refid="column"/>
        <if test="adminId != null and adminId != ''">
            and a.id in (
            select menu_id from system_role_menu where role_id in
            (select role_id from system_admin_role where admin_id = #{adminId})
            )
        </if>
        order by sort desc
    </select>
</mapper>