<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.CourseQuestionInfoMapper">

    <insert id="batchSave" parameterType="map">
        insert into course_question_info(question_info_id, course_id) values
        <foreach collection="list" separator="," item="item">
            (${item.question_info_id}, ${item.course_id})
        </foreach>
    </insert>

    <update id="updateStudentQuestionMark" parameterType="map">
        update srudent_question_answer set mark = #{mark}, correct_status = #{correct_status}, comment = #{comment}
        where student_id = #{studentId} and question_info_id = #{questionInfoId}
        <if test="test_paper_info_id != null and test_paper_info_id != ''">
            and test_paper_info_id = #{test_paper_info_id}
        </if>
    </update>

    <select id="getCourseQuestionList" resultType="modelBeanMap">
        select question.*,
        subject.name as subject_name,
        course_question.mark,
        course_question.sort,
        course_question.course_id
        from question_info question inner join course_question_info course_question on
        question.id = course_question.question_info_id
        inner join subject_info subject on question.subject_id = subject.id
        <where>
            <if test="category != null and category != ''">
                and question.category  = #{category}
            </if>

            <if test="question_type != null and question_type != ''">
                and question.type = #{questionType}
            </if>

            <if test="courseId != null and courseId != ''">
                and course_question.course_id = #{courseId}
            </if>

            <if test="subjectId != null and subjectId != ''">
                and question.subject_id = #{subjectId}
            </if>

            <if test="questionType != null and questionType != ''">
                and question.question_type = #{questionType}
            </if>
            order by course_question.sort desc
        </where>
    </select>

    <delete id="delete" parameterType="map">
        delete from course_question_info
        <where>
            <if test="courseId != null and courseId != ''">
                and course_id = #{courseId}
            </if>

            <if test="questionInfoId != null and questionInfoId != ''">
                and question_info_id = #{questionInfoId}
            </if>
        </where>
    </delete>


    <sql id="updateCourseQuestionSortOrMark">
        where course_id = #{course_id} and question_info_id = #{questionInfoId}
    </sql>

    <update id="updateCourseQuestionMark" parameterType="map">
        update course_question_info set mark = #{mark}
        <include refid="updateCourseQuestionSortOrMark"></include>
    </update>

    <update id="updateCourseQuestionSort" parameterType="map">
        update course_question_info set sort = #{sort}
        <include refid="updateCourseQuestionSortOrMark"></include>
    </update>

    <select id="getStudyNumberByCourse" resultType="long">
        select count(1) number from (select * from student_question_answer where course_id = #{courseId} group by student_id) a
    </select>

    <select id="getCourseQuestionAnswerList" resultType="modelBeanMap">
       select question_answer.*,question.question_type from student_question_answer question_answer left join question_info question on
        question_answer.question_info_id = question.id where question_answer.question_info_id in
        (
          select question_info_id from course_question_info where course_id = #{courseId}
        )
        and question_answer.student_id = #{studentId} and question_answer.course_id = #{courseId}
    </select>
</mapper>