<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.SubjectInfoMapper">

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into subject_info
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update subject_info
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <select id="queryList" resultType="modelBeanMap">
        select * from subject_info
        <where>
            <choose>
                <when test="showFlag">

                </when>

                <otherwise>
                    and use_flag = 1
                </otherwise>
            </choose>

            <!-- 所属阶段 -->
            <if test="schoolType != null and schoolType != ''">
                and school_type = ${schoolType}
            </if>
            <!-- 年级 -->
            <if test="gradeType != null and gradeType != ''">
                and grade_type = ${gradeType}
            </if>

            <!-- 科目名称 -->
            <if test="keyWord != null and keyWord != ''">
                <bind name="searchName" value="'%' + keyWord + '%'"/>
                and name like #{searchName}
            </if>
        </where>
        order by id desc
    </select>

    <select id="findByNameAndGradeType" resultType="modelBeanMap">
        select * from subject_info where name = #{name} and grade_type = #{gradeType} and use_flag = 1 limit 1
    </select>

</mapper>