<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.ExamInfoMapper">

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="map">
        insert into exam_info
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update exam_info
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <select id="findByPaperId" resultType="modelBeanMap">
        select * from exam_info where student_id = #{studentId} and test_paper_info_id = #{testPaperId} limit 1
    </select>
</mapper>