<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.QuestionInfoMapper">

        <!-- 试题列表 -->
    <select id="queryList" resultType="modelBeanMap">
        select question.*, subject.name as subject_name from question_info question
        left join subject_info subject on question.subject_id = subject.id
        <where>

            <!-- 题目内容 -->
           <if test="keyWord != null and keyWord != ''">
                <bind name="searchName" value="'%' + keyWord + '%'"/>
                and question.content like #{searchName}
           </if>
                <!-- 阶段 -->
           <if test="schoolType != null and schoolType != ''">
                and question.school_type = #{schoolType}
           </if>

                <!-- 知识点 -->
                <if test="languagePointsId != null and languagePointsId != ''">
                        and question.language_points_id = #{languagePointsId}
                </if>

                <!-- 年级 -->
                <if test="gradeType != null and gradeType != ''">
                        and question.grade_type = #{gradeType}
                </if>

                <!-- 科目 -->
                <if test="subjectId != null and subjectId != ''">
                        and question.subject_id = #{subjectId}
                </if>


                <!-- 试题类型 -->
                <if test="questionType != null and questionType != ''">
                        and question.question_type = #{questionType}
                </if>

                <if test="category != null and category != ''">
                        and question.category = #{category}
                </if>
        </where>
        order by question.id desc
    </select>

    <insert id="save" useGeneratedKeys="true"  keyProperty="id" parameterType="map">
        insert into question_info
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
                ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
                #{value}
        </foreach>
    </insert>

    <insert id="batchSave" parameterType="list">
        insert into question_info(subject_id, create_date, update_date, answer, content, options, school_type, grade_type,
        question_type, analysis, mode_type, course_id, language_points_id)
        values
        <foreach collection="list" separator="," item="item">
                (
                #{item.subject_id}, #{item.create_date}, #{item.update_date}, #{item.answer}, #{item.content},  #{item.options},
                ${item.school_type}, ${item.grade_type}, ${item.question_type}, #{item.analysis}, #{item.mode_type}, #{item.course_id},
                #{item.language_points_id}
                )
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update question_info
        <foreach collection="params.keys" item="key" open="set" separator="," >
                ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>


</mapper>