<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.TestPaperQuestionMapper">

    <insert id="batchSave" parameterType="map">
        insert into test_paper_question_info(question_info_id, test_paper_info_id, mark, create_date) values
        <foreach collection="list" separator="," item="item">
            (${item.question_info_id}, ${item.test_paper_info_id}, #{item.mark}, #{item.create_date})
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update test_paper_info
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <select id="getTestPaperInfoSum" parameterType="Integer" resultType="Integer">
        select ifnull(sum(mark), 0) as mark from test_paper_question_info where test_paper_info_id = #{testPaperInfoId}
    </select>
</mapper>