<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.system.SystemAdminMapper">

    <select id="queryList" parameterType="map" resultType="modelBeanMap">
        select  * from system_admin
    </select>

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into system_admin
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.values"  item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        update system_admin
        <foreach collection="params.keys" item="key" open="set" separator="," >
            ${key} = #{params[${key}]}
        </foreach>
        where id = #{params.id}
    </update>

    <select id="findById" resultType="modelBeanMap">
        select  * from system_admin where id = #{id}
    </select>

    <select id="findByLoginName" resultType="modelBeanMap">
       select * from system_admin where login_name = #{loginName} limit 1
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete from system_admin where id = #{id}
    </delete>

    <update id="updateByUserId" parameterType="map">
        update system_admin set login_count = #{loginCount}, login_ip = #{loginIp}, last_login_time = #{lastLoginTime}
        where id = #{userId}
    </update>

    <delete id="deleteBySchoolId" parameterType="Integer">
        delete from system_admin where school_id = #{schoolId}
    </delete>
</mapper>